body{
	position:relative;
	width:100%;
	height:100%;
	top:-11px;
	left:-12px;	
	font-family: 'Dosis', sans-serif;
}

.namebanner {
	position: relative;
    background-color: #333333;
    width: 100%; 
    padding:2px 2px;
    height:30%;
    color:#FFFFFF;
    text-align: center;           
}

.menuhead{
	position: relative;
	padding:0px 2px;
	background-color: #E6E6E6;
    width: 100%;  
}
.menuhead li {
	cursor:pointer;
	background-color: #FFFFFF;
	display:inline-block;
	color:#888888;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:15%;
	text-decoration:none;
	text-align:center;
}
.menuhead li:hover {
	cursor:pointer;
	text-indent:0;
	display:inline-block;
	color:#FFFFFF;
	background-color:#888888;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:15%;
	text-decoration:none;
	text-align:center;
	opacity:90%;
}

.title{
	font-family: 'Dosis', sans-serif;
}

.namefooter1{
	text-align:left;
	padding:2px 2px;
	background-color: #FFFFFF;
	font-size:1em;
	position: relative;
	width:100%;
	color:#FFBB33;
}

.namefooter2{
	text-align:center;
	padding:2px 2px;
	background-color: #FFFFFF;
	position: relative;
	width:100%;
	color:#33B5E5;
	font-size:1em;
}

.namefooter3{
	text-align:center;
	padding:2px 2px;
	background-color: #FFFFFF;
	position: relative;
	width:100%;
	color:#99CC00;
	font-size:1em;
}

.namefooter4{
	text-align:center;
	padding:2px 2px;
	background-color: #FFFFFF;
	position: relative;
	width:100%;
	color:#AA66CC;
	font-size:1em;
}
.namefooter5{
	text-align:center;
	padding:2px 2px;
	background-color: #FFFFFF;
	position: relative;
	width:100%;
	color:#FF4444;
	font-size:1em;
}
.namefooter6{
	text-align:center;
	padding:2px 2px;
	background-color: #FFFFFF;
	position: relative;
	width:100%;
	color:#333333;
	font-size:1em;
}


.foresight{
	position:relative;
	text-align:center;
	font-size:1.5em;
	color:#ff8800;
}

.objective{
	margin-left:10%;
	font-size: 1.25em;
	width:80%;
	color:#333333;
}

.highlights{
	margin-left:10%;
	font-size: 1.25em;
	width:80%;
	color:#333333;
}

.experience{
	margin-left:10%;
	top:0%;
	font-size: 1.25em;
	width:90%;
	color:#333333;
}

.subjects{
	background-color: #33B5E5;	
	display:inline-block;
	color:#FFFFFF;
	margin:15px;
	border-radius:5px;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	padding:10px 20px;
	text-decoration:none;
	text-align:center;
}

.titles{
	color:#333333;
}

.footer{		
	text-align:center;
	font-size:1.2em;
	padding:10px 2px;
	background-color: #1abc9c;
	width:100%;
	margin-bottom:-20px;
	color:#FFFFFF;
}

